<div class="pokemon-details">
  <div class="bg-Img">
    <img class="backgroundImage" [src]="pokemonImg3" alt="">
  </div>
  <div class="container">
    <div class="navigation-link mt-3">
      <div class="backButton" (click)="backButton()">
        <img src="../../../assets/svg/arrow-left-svgrepo-com.svg" alt="back-button">
      </div>
      <div class="next-prev d-flex align-items-center justify-content-center">
        <div class="bg-dark rounded-circle prevBtn center bg-opacity-75 shadow" (click)="previousPokemon()">
          <img src="../../../assets/svg/white-left-arrow-angle-svgrepo-com.svg" alt="prev">
        </div>
        <span class="fs-6 mx-2 fw-bold text-dark text-opacity-75">#{{pokemonId}}</span>
        <div class="bg-dark rounded-circle nextBtn center bg-opacity-75 shadow" (click)="nextPokemon()">
          <img src="../../../assets/svg/white-right-arrow-angle-svgrepo-com.svg" alt="next">
        </div>
      </div>
    </div>
    <div class="row pokemon-detail-row pt-3 pb-5 align-items-center justify-content-center text-center">
      <div class="col-12 mb-4 d-flex align-items-end justify-content-center px-1">
        <h1 class="pokemonName text-dark display-2 text-opacity-50 fw-bold mb-0 me-1">{{ pokemonName | uppercase}} </h1>
        <div class="pixel-img">
          <img [src]="pokemonImg2" alt="">
        </div>
      </div>
      <div class="col-12 gx-2 gx-lg-3 row mb-4 justify-content-center">
        <div class="col-4" *ngIf="pokemonWeight">
          <div class="row justify-content-center pokemon-stats">
            <div class="d-flex px-1 align-items-center justify-content-center">
              <div class="me-2">
                <img class="detail-icons" src="../../../assets/svg/weight-svgrepo-com (1).svg" alt="weight-scale">
              </div>
              <div>
                <h5 class="mb-0 pokemon-stats-value text-dark">{{pokemonWeight}} kg</h5>
              </div>
            </div>
            <p class="text-dark mt-1 text-opacity-50 px-1">Weight</p>
          </div>
        </div>
        <div class="col-4" *ngIf="pokemonHeight">
          <div class="row justify-content-center pokemon-stats">
            <div class="d-flex px-1 justify-content-center align-items-center">
              <div class="me-2">
                <img class="detail-icons" src="../../../assets/svg/ruler-svgrepo-com.svg" alt="weight-scale">
              </div>
              <div>
                <h5 class="mb-0 pokemon-stats-value text-dark">{{pokemonHeight}} m</h5>
              </div>
            </div>
            <p class="text-dark mt-1 text-opacity-50 px-1">Height</p>
          </div>
        </div>
        <div class="col-4" *ngIf="pokemonSpecialMove">
          <div class="row justify-content-center pokemon-stats">
            <div class="d-flex px-1 justify-content-center align-items-center">
              <div class="me-2">
                <img class="detail-icons" src="../../../assets/svg/dancer-motion-svgrepo-com.svg" alt="weight-scale">
              </div>
              <div>
                <h5 class="mb-0 pokemon-stats-value text-dark">{{pokemonSpecialMove}}</h5>
              </div>
            </div>
            <p class="text-dark mt-1 text-opacity-50 px-1">Special Move</p>
          </div>
        </div>
      </div>
      <div class="col-12 mb-4">
        <div class="d-flex justify-content-center align-items-center">
          <div class="types" *ngFor="let pokemonType of pokemonTypes">
            <div [ngStyle]="{backgroundColor:
                  pokemonType.type.name == 'normal' ? colours.normal :
                  pokemonType.type.name == 'fire' ? colours.fire :
                  pokemonType.type.name == 'water' ? colours.water :
                  pokemonType.type.name == 'electric' ? colours.electric :
                  pokemonType.type.name == 'grass' ? colours.grass :
                  pokemonType.type.name == 'ice' ? colours.ice :
                  pokemonType.type.name == 'fighting' ? colours.fighting :
                  pokemonType.type.name == 'poison' ? colours.poison :
                  pokemonType.type.name == 'ground' ? colours.ground :
                  pokemonType.type.name == 'flying' ? colours.flying :
                  pokemonType.type.name == 'psychic' ? colours.psychic :
                  pokemonType.type.name == 'bug' ? colours.bug :
                  pokemonType.type.name == 'rock' ? colours.rock :
                  pokemonType.type.name == 'ghost' ? colours.ghost :
                  pokemonType.type.name == 'dragon' ? colours.dragon :
                  pokemonType.type.name == 'dark' ? colours.dark :
                  pokemonType.type.name == 'steel' ? colours.steel :
                  pokemonType.type.name == 'fairy' ? colours.fairy :
                  '' }" class="btn btn-dark mx-3 shadow-sm border-0">{{pokemonType.type.name}}</div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <img class="pokemon-detail-img" [src]="pokemonImg" [alt]="pokemonName + '.img'">
      </div>
      <div class="col-12">
        <div class="base-stats my-3" *ngFor="let pokemonBaseStat of pokemonBaseStats">
          <div class="progress-title text-dark text-opacity-50 text-start">
            <h5 class="fs-6 fw-bold mb-1">{{pokemonBaseStat.stat.name | uppercase}}</h5>
          </div>
          <div class="progress shadow-sm bg-secondary bg-opacity-50">
            <div class="progress-bar fw-bold" role="progressbar" aria-label="Example with label" [ngStyle]="{ width : pokemonBaseStat.base_stat + '%' , backgroundColor:
                  pokeomtype == 'normal' ? colours.normal :
                  pokeomtype == 'fire' ? colours.fire :
                  pokeomtype == 'water' ? colours.water :
                  pokeomtype == 'electric' ? colours.electric :
                  pokeomtype == 'grass' ? colours.grass :
                  pokeomtype == 'ice' ? colours.ice :
                  pokeomtype == 'fighting' ? colours.fighting :
                  pokeomtype == 'poison' ? colours.poison :
                  pokeomtype == 'ground' ? colours.ground :
                  pokeomtype == 'flying' ? colours.flying :
                  pokeomtype == 'psychic' ? colours.psychic :
                  pokeomtype == 'bug' ? colours.bug :
                  pokeomtype == 'rock' ? colours.rock :
                  pokeomtype == 'ghost' ? colours.ghost :
                  pokeomtype == 'dragon' ? colours.dragon :
                  pokeomtype == 'dark' ? colours.dark :
                  pokeomtype == 'steel' ? colours.steel :
                  pokeomtype == 'fairy' ? colours.fairy :
                  ''  }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{pokemonBaseStat.base_stat}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
