
@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
  .card-title{
    font-size: 0.9rem;
  }
  .card-header{
    font-size: 0.9rem;
  }
  .card-img-top{
    padding: 0.5rem !important;
  }

}
